header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 45px;
  height: 45px;
}

.header_title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .3px;
}