header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 45px;
  height: 45px;
}

.header_title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

