.summary {
  margin-top: 20px;
  padding: 16px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06), 0 6px 18px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.3s ease;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 90%;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.summary_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.summary_title {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 12px;
}

.summary_list {
  list-style: none;
  padding: 0;
  margin: 0 0 12px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  overflow-y: auto;
  padding-right: 6px;
}

.summary_list::-webkit-scrollbar {
  width: 6px;
}

.summary_list::-webkit-scrollbar-thumb {
  background-color: rgba(34, 197, 94, 0.4); /* зелёная полоса */
  border-radius: 3px;
}

.summary_list::-webkit-scrollbar-track {
  background: transparent;
}
.summary_list li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #4b5563;
}

.summary_list li span {
  color: #333;
  font-weight: 600;
}

.summary_total {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  color: #4267b2;
  margin: 12px 0;
}

.checkout {
  background: rgba(34, 197, 94, 0.12);
  color: #22c55e;
  width: 100%;
  padding: 12px 0px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.25s ease, transform 0.15s ease;
}

.checkout:hover {
  background: rgba(34, 197, 94, 0.18);
  transform: scale(1.03);
}

.checkout:active {
  transform: scale(0.95);
}

.summary_text {
  text-align: center;
}

@media (min-width: 768px) {
  .page {
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 15px;
  }
  .summary {
    width: 340px;
    position: sticky;
    left: auto;
    transform: none;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .page {
    grid-template-columns: 1fr 380px;
    gap: 20px;
  }
  .summary {
    width: 380px;
    position: sticky;
    left: auto;
    transform: none;
    margin-top: 0px;
    height: 250px;
  }
}
