@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin-bottom: 250px;
}

.container {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
}

button {
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    margin-bottom: 0;
  }

  .container {
    padding: 0px 30px;
  }
}


@media (min-width: 1024px) {
  body {
    margin-bottom: 0;
  }

  .container {
    padding: 0px 40px;
  }
}
